<ion-header>
	<ion-toolbar>
		<ion-title>Skills</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content padding class="background">

	<h1>Here is my skills which I think are valuable</h1>

	<br>

	<p>● I know basics from Java</p>
	<br>
	<p>● I have decent knowledge about HTML & CSS </p>
	<br>
	<p>● I can do SQL very well</p>
	<br>
	<p>● I know basics about mobile developing</p>
	<br>
	<p>● I know Windows operating systems very well (version 7&10) </p>
	<br>
	<p>● I know Microsoft Office 365 very well</p>


</ion-content>