<ion-header>
  <ion-toolbar>
    <ion-title>Krister CV</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="background">

<h1>Hello and welcome to my CV</h1>
  <p>Below you can navigate to different sections about me</p>
  <br>
  <br>
    <h2>Personal information</h2>
    <p>● 21-years old</p>
    <br>
    <p>● Studying Business Information Technology at Laurea University of applied sciences</p>
    <br>
    <p>● Currently living at Kauniainen, Finland</p>
    <br>
    <p>● Interested about cybersecurity, databases and technology overall</p>
    <br>
    <p>● I like to go jogging time to time</p>
    <br>
    <ion-button expand="block" routerLink="/login" routerDirection="root">
      Logout
    </ion-button>
</ion-content>
