<ion-header>
  <ion-toolbar>
    <ion-title>Contact Information</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="background">

	<h1>Here you can find my contact information</h1>

	<br>
	<br>
	<img src="../../assets/imgs/cvkuva.jpg" alt="Picture" width="200" height="200">
	<br>
	<br>
	<p><ion-icon name="md-phone-portrait"></ion-icon> Phone number</p>
	<p> +358407529924 </p>
	<br>
	<p><ion-icon name="ios-mail"></ion-icon> Email</p>
	<p> 1700039@laurea.fi</p>
	<br>
	<p><ion-icon name="pin"></ion-icon>Address</p>
	<p>Juusintie 5, 02700 Kauniainen</p>
	<br>
</ion-content>
